#RewriteEngine On
<IfModule mod_rewrite.c>
Options +FollowSymlinks
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)v/(.*)$  "admin/answ?c=$2" [L,QSA]
RewriteRule ^(.*) public/$1 [L]
</IfModule>
