.fancybox-wrap,.fancybox-skin,.fancybox-outer,.fancybox-inner,.fancybox-image,.fancybox-wrap iframe,.fancybox-wrap object,.fancybox-nav,.fancybox-nav span,.fancybox-tmp {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    vertical-align: top
}

.fancybox-wrap {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8020
}

.fancybox-skin {
    position: relative;
    background: #f9f9f9;
    color: #444;
    text-shadow: none;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.fancybox-opened {
    z-index: 8030
}

.fancybox-opened .fancybox-skin {
    -webkit-box-shadow: 0 10px 25px rgba(0,0,0,.5);
    -moz-box-shadow: 0 10px 25px rgba(0,0,0,.5);
    box-shadow: 0 10px 25px rgba(0,0,0,.5)
}

.fancybox-outer,.fancybox-inner {
    position: relative
}

.fancybox-inner {
    overflow: hidden
}

.fancybox-type-iframe .fancybox-inner {
    -webkit-overflow-scrolling: touch
}

.fancybox-error {
    color: #444;
    font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 15px;
    white-space: nowrap
}

.fancybox-image,.fancybox-iframe {
    display: block;
    width: 100%;
    height: 100%
}

.fancybox-image {
    max-width: 100%;
    max-height: 100%
}

#fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
}

#fancybox-loading {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -22px;
    margin-left: -22px;
    background-position: 0 -108px;
    opacity: .8;
    cursor: pointer;
    z-index: 8060
}

#fancybox-loading div {
    width: 44px;
    height: 44px;
}

.fancybox-close {
    position: absolute;
    top: -18px;
    right: -18px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    z-index: 8040
}

.fancybox-nav {
    position: absolute;
    top: 0;
    width: 40%;
    height: 100%;
    cursor: pointer;
    text-decoration: none;
    background: transparent url(blank.gif);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 8040
}

.fancybox-prev {
    left: 0
}

.fancybox-next {
    right: 0
}

.fancybox-nav span {
    position: absolute;
    top: 50%;
    width: 36px;
    height: 34px;
    margin-top: -18px;
    cursor: pointer;
    z-index: 8040;
    visibility: hidden
}

.fancybox-prev span {
    left: 10px;
    background-position: 0 -36px
}

.fancybox-next span {
    right: 10px;
    background-position: 0 -72px
}

.fancybox-nav:hover span {
    visibility: visible
}

.fancybox-tmp {
    position: absolute;
    top: -99999px;
    left: -99999px;
    visibility: hidden;
    max-width: 99999px;
    max-height: 99999px;
    overflow: visible!important
}

.fancybox-lock {
    overflow: hidden!important;
    width: auto
}

.fancybox-lock body {
    overflow: hidden!important
}

.fancybox-lock-test {
    overflow-y: hidden!important
}

.fancybox-overlay {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    display: none;
    z-index: 8010;
}

.fancybox-overlay-fixed {
    position: fixed;
    bottom: 0;
    right: 0
}

.fancybox-lock .fancybox-overlay {
    overflow: auto;
    overflow-y: scroll
}

.fancybox-title {
    visibility: hidden;
    font: 400 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
    position: relative;
    text-shadow: none;
    z-index: 8050
}

.fancybox-opened .fancybox-title {
    visibility: visible
}

.fancybox-title-float-wrap {
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-bottom: -35px;
    z-index: 8050;
    text-align: center
}

.fancybox-title-float-wrap .child {
    display: inline-block;
    margin-right: -100%;
    padding: 2px 20px;
    background: 0 0;
    background: rgba(0,0,0,.8);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    text-shadow: 0 1px 2px #222;
    color: #FFF;
    font-weight: 700;
    line-height: 24px;
    white-space: nowrap
}

.fancybox-title-outside-wrap {
    position: relative;
    margin-top: 10px;
    color: #fff
}

.fancybox-title-inside-wrap {
    padding-top: 10px
}

.fancybox-title-over-wrap {
    position: absolute;
    bottom: 0;
    left: 0;
    color: #fff;
    padding: 10px;
    background: #000;
    background: rgba(0,0,0,.8)
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-device-pixel-ratio:1.5) {
    #fancybox-loading,.fancybox-close,.fancybox-prev span,.fancybox-next span {
        background-size: 44px 152px
    }

    #fancybox-loading div {
        background-size: 24px 24px
    }
}

#page {
    height: auto
}

#inp_check_certificate.placeholder {
    color: #999
}

#inp_check_certificate,.btn-check-certificate {
    border-radius: 0
}

.inp-check.error {
    border: 1px solid red
}

.bg-box {
    height: 100%;
    background-position: center center;
    background-size: cover
}

.box-text {
    text-align: center;
    padding-top: 45px
}

.box-text-first {
    font-size: 4.6em;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: .1em;
    padding-bottom: 30px
}

.box-text-second {
    font-size: 2.4em;
    line-height: 1;
    padding-bottom: 16px;
    padding-left: 15px;
    padding-right: 15px
}

.image-banner-ic img {
    display: inline-block
}

.list-shops .container {
    padding-bottom: 20px;
    max-width: 970px
}

.box-bottom .container_bottom {
    max-width: 970px
}

.box-bottom {
    margin-top: 40px
}

.header-text {
    display: inline-block;
    margin: 0 auto;
    padding-bottom: 7px;
    font-size: 4.6em
}

.list-information {
    display: inline-block;
    margin-bottom: 33px;
    width: 100%
}

.text_center {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 0;
    right: 0;
    transform: translate(0px,-50%);
    -webkit-transform: translate(0px,-50%);
    -ms-transform: translate(0px,-50%)
}

.list-information--text_top.first {
    float: left;
    list-style-type: none;
    text-align: center;
    border: 1px solid #ddd;
    padding: 12px 0;
    height: 63px;
    width: 100%;
    position: relative;
    border-bottom: 0
}

.list-information--text_top.first a {
    color: #666;
    word-wrap: break-word
}

.list-information--text_top.first a:hover {
    text-decoration: none;
    outline: 0;
    color: #666
}

.list-information--text_top.first .text_center {
    display: inline-block;
    margin: 0 auto;
    position: relative
}

.list-information--text_top.first .text_center .ifm_text--country {
    margin-right: 20px;
    font-size: 2.6em;
    line-height: 1
}

.list-information--text_top.first .text_center .ifm_text--country,.list-information--text_top.first .text_center .ifm_text--contact {
    float: left
}

.list-information--text {
    float: left;
    list-style-type: none;
    text-align: center;
    border: 1px solid #ddd;
    padding: 12px 0;
    height: 147px;
    width: 50%;
    position: relative
}

.list-information--text a {
    color: #666;
    word-wrap: break-word
}

.list-information--text a:hover,.list-information--text a:focus {
    text-decoration: none;
    outline: 0;
    color: #666
}

.box-im-left {
    padding-left: 0
}

.style-right {
    padding-top: 12px
}

.box-im-right--inner {
    padding: 35px
}

.box-text-right {
    text-align: center
}

.box-text-right--first {
    font-size: 3em
}

.box-text-right--second {
    font-size: 3.6em
}

.box-im-right {
    position: relative;
    width: 100%;
    background-color: #efefef
}

.radial-center {
    width: 100%;
    height: 554px;
    background-color: #efefef;
    background-position: center center;
    background-repeat: no-repeat;
    background: -webkit-gradient(radial,center center,0,center center,460,from(#fdfdfd),to(#efefef));
    background: -webkit-radial-gradient(circle,#fdfdfd,#efefef);
    background: -moz-radial-gradient(circle,#fdfdfd,#efefef);
    background: -ms-radial-gradient(circle,#fdfdfd,#efefef);
    margin-bottom: 50px
}

.image-product-sw img {
    margin: 0 auto
}

.image-product-sw {
    position: absolute;
    bottom: -15px;
    left: 0;
    right: 0
}

.form-certificate-style {
    margin-top: 15px
}

.inp-check {
    width: 100%;
    border: 1px solid #000;
    background: #FFF;
    height: 40px;
    font-size: 1.983em;
    font-family: DBHelvethaicaX-Light;
    padding: 0 10px;
    max-width: 255px;
    margin: 0 auto;
    display: block;
    margin-bottom: 20px
}

.inp-check::-webkit-input-placeholder {
    color: #000;
    opacity: 1
}

.inp-check:-moz-placeholder {
    color: #000;
    opacity: 1
}

.inp-check::-moz-placeholder {
    color: #000;
    opacity: 1
}

.inp-check:-ms-input-placeholder {
    color: #000;
    opacity: 1
}

.btn-check-certificate {
    border: none;
    width: 140px;
    height: 45px;
    background-color: #000;
    color: #fff;
    font-size: 2em;
    position: relative;
    z-index: 10
}

.list-shop {
    position: relative;
    height: 90px;
    text-align: center
}

.list-shop.last {
    margin-bottom: 20px
}

.image-banner-ic {
    position: absolute;
    top: 50%;
    transform: translate(0,-50%);
    left: 0;
    right: 0;
    margin: 0 auto
}

.border-row-1.first {
    border-bottom: 0 none;
    border-right: 0 none
}

.border-row-1.mid {
    border-bottom: 0 none;
    border-right: 0 none
}

.border-row-1.last {
    border-bottom: 0 none;
    border-right: 1px solid #ddd
}

.border-row-2.first {
    border-bottom: 0 none;
    border-right: 0 none
}

.border-row-2.mid {
    border-bottom: 0 none;
    border-right: 0 none
}

.border-row-2.last {
    border-bottom: 0 none;
    border-right: 1px solid #ddd
}

.border-row-3.first {
    border-right: 0 none
}

.border-row-3.mid {
    border-right: 0 none
}

.border-row-3.last {
    border-right: 1px solid #ddd
}

.w50fr {
    width: 50%;
    display: block;
    float: right
}

.w50fl {
    width: 50%;
    display: block;
    float: left
}

.ifm_text--country {
    text-align: center;
    font-size: 2.4em;
    line-height: 1;
    white-space: nowrap;
    letter-spacing: .03em
}

.ifm_text--country .ch-text {
    font-size: .7em;
    line-height: 1;
    font-weight: 700
}

.ifm_text--contact {
    font-size: 2.4em;
    line-height: 1
}

.ifm_text--img {
    display: inline-block;
    vertical-align: middle;
    height: 15px;
    width: 20px;
    margin: -3px 10px 0 0
}


.list-information--text:nth-child(8n) {
    border-bottom: 1px solid #ddd
}

#frm-certificate .select-main {
    overflow: visible;
    padding-left: 10px;
    padding-right: 10px;
    position: relative
}

#frm-certificate .btn_down {
    display: inline-block;
    border: 1px solid #000;
    height: 40px;
    max-width: 255px;
    width: 100%;
    margin: 0 auto 15px
}

#frm-certificate .select-main select {
    height: 40px
}

#frm-certificate .select-main select {
    border: 0 none;
    cursor: pointer;
    height: 40px;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

#frm-certificate .select_text {
    color: #000;
    font-size: 1.983em;
    height: 40px;
    left: 0;
    line-height: 40px;
    overflow: hidden;
    padding-left: 12px;
    padding-right: 15%;
    position: absolute;
    width: 100%;
    font-family: DBHelvethaicaX-Light;
    text-align: left
}

.list-information--text:nth-child(2n+2) {
    border-left: 0
}

.list-information--text:nth-child(3),.list-information--text:nth-child(4) {
    border-top: 0
}

.loading_image {
    display: none;
    font-size: 2em
}

.loading_image .img-load {
    height: 50px;
    width: 50px
}

.style-left {
    padding-left: 5px
}

.style-right {
    padding-right: 5px
}

@media (min-width: 768px) {
    .ifm_text--country,.ifm_text--contact {
        font-size:2em
    }
}

@media (min-width: 980px) {
    .ifm_text--country,.ifm_text--contact {
        font-size:2.4em
    }
}

@media (min-width: 1200px) {
    .list-shop {
        width:20%
    }

    .header-text {
        display: block;
        text-align: center
    }
}

@media (max-width: 1200px) {
    .box-im-left {
        padding:0
    }

    .header-text {
        display: block;
        text-align: center
    }
}

@media (max-width: 991px) {
    .header-text {
        display:block;
        margin-left: 0;
        text-align: center
    }

    .border-row-1.first {
        border-bottom: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-1.mid {
        border-left: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-1.last {
        border-bottom: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-2.first {
        border-left: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-2.mid {
        border-bottom: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-2.last {
        border-left: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-3.first {
        border-bottom: 1px solid #ddd;
        border-right: 1px solid #ddd
    }

    .border-row-3.mid {
        border-left: 0 none;
        border-right: 1px solid #ddd
    }

    .border-row-3.last {
        border-top: 0 none;
        border-right: 1px solid #ddd
    }

    .list-information {
        width: 100%
    }

    .style-left {
        padding-left: 20px
    }

    .style-right {
        padding-right: 20px
    }
}

@media (max-width: 767px) {
    .radial-center {
        height:730px
    }

    .bg-box {
        background-position: left center;
        background-size: cover
    }

    .style-right {
        padding: 0
    }
}

@media (max-width: 480px) {
    .list-information--text {
        width:100%
    }

    .radial-center {
        height: 530px
    }

    .ifm_text--country {
        padding: 0
    }

    .ifm_text--contact {
        padding-left: 10px
    }

    .list-information--text:nth-child(2n+2) {
        border-top: 0;
        border-left: 1px solid #ddd
    }

    .list-information--text:nth-child(3),.list-information--text:nth-child(4) {
        border-top: 0
    }

    .list-information--text_top.first {
        width: 100%;
        height: 80px
    }

    .list-information--text {
        height: 80px
    }

    .list-information--text_top.first .text_center .ifm_text--country,.list-information--text_top.first .text_center .ifm_text--contact {
        float: none;
        margin: 0;
        padding: 0;
        width: 100%
    }
}

@media (max-width: 320px) {
    .ifm_text--country {
        float:none;
        padding: 0;
        text-align: center;
        width: 100%
    }

    .ifm_text--contact {
        float: none;
        padding: 0;
        text-align: center;
        width: 100%
    }
}
